[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp
[submodule "basis_universal"]
	path = basis_universal
	url = https://github.com/BinomialLLC/basis_universal.git
[submodule "simdjson"]
	path = simdjson
	url = https://github.com/simdjson/simdjson.git
