[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "simdjson"]
	path = simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "KTX-Software"]
	path = KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
